<div class="fieldlist">
    <div class="row">
        <div class="col-md-5">
            <label for="simple-input">Nama Karyawan</label>
            <input id="simple-input" type="text" ng-model="employee.employeeName" class="k-textbox" style="width: 100%;" />
        </div>
        <div class="col-md-3">

            <div class="k-content">

                <label for="simple-input">Jenis Kelamin</label>
                <input kendo-combo-box ng-model="employee.gender" k-options='genderOptions' style="width: 100%;" />

            </div>

        </div>
        <div class="col-md-3">
            <label for="simple-input">Tanggal Lahir</label>
            <input kendo-date-picker ng-model="birthDate" k-ng-model="employee.birthDate" style="width: 100%;" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <label for="simple-input">Tanggal Masuk</label>
            <input kendo-date-picker ng-model="joinDate" k-ng-model="employee.joinDate" style="width: 100%;" />
        </div>

        <div class="col-md-6">
            <label for="simple-textarea">Alamat</label>
            <textarea id="simple-textarea" ng-model="employee.employeeAddress" class="k-textbox" style="width: 100%;"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <label for="simple-input">Kelurahan</label>
            <!--<input kendo-combo-box ng-model="district" k-on-change="selectedDistrict(data)" k-options='districtOptions' style="width: 100%;" />-->
            <select kendo-combo-box
                k-placeholder="'Pilih kelurahan'"
                k-ng-model="employee.district"
                k-data-text-field="'districtName'"
                k-data-value-field="'districtCode'"
                k-auto-bind="false"
                k-min-length="3"
                k-data-source="districtDataSource"
                style="width: 100%" >
            </select>   
        </div>
    </div>
    <br>
    <br>
    <hr> 
    <div class="row">
        <div class="col-md-offset-9 col-md-3">
            <input kendo-auto-complete ng-model="searchemp" k-data-source="searchEmployees" style="width: 100%;" />
            <p class="demo-hint">
        </div>
    </div>
    <div kendo-grid k-data-source="gridData" k-columns="gridColumns" k-selectable="true" k-on-change="onChange(data)">
    </div>
    <br>
    <br>
    <div class="col-md-offset-10">
        <kendo-button ng-click="createEmployee(employee)">Save</kendo-button>
        <kendo-button ng-click="deleteEmployee()">Hapus</kendo-button>
        <kendo-button ng-click="onClick3()">Batal</kendo-button>
    </div>

</div>